<div class="dialog__header">
	<span class="logo lt-icon lt-icon__lt">
		<span class="logo__name">Language<strong>Tool</strong></span>
		<span id="slogan" class="logo__claim"></span>
	</span>
</div>
<div class="dialog__content">
	<div id="message" class="content"></div>
	<div class="dialog__buttons">
		<div class="dialog__primaryButton" id="confirm"></div>
	</div>
</div>
<div class="dialog__footer" id="footer">
	<span id="privacyLink"></span>
</div>

<div class="dialog__made-in">
	Made in
	<span class="dialog__flag--fr"></span>
	France and
	<span class="dialog__flag--de"></span>
	Germany
</div>
