<div class="widget">
    <div class="widget__header">
        <img src="images/icon_apps.svg" width="24" height="21" />
        <h1 class="widget__title">{{ 'apps_title' | i18n }}</h1>
    </div>
    <div class="widget__content">
        <h2 class="section-title"><span ng-click="goToExtensionsPage()">{{ 'widget_title_apps' | i18n }}</span></h2>
        <div class="g-apps">
            <a class="g-apps__item" ng-repeat="item in extensions | filter:{type:'_app'}" title="{{item.description}}" ng-click="appLaunch(item.id)">
                <span class="g-apps__icon">
                    <img ng-src="{{item.icons ? item.icons[item.icons.length-1].url : 'chrome://extension-icon/'}}" />
                </span>
                <span class="g-apps__title">{{item.name}}</span>
            </a>
        </div>
        <h2 class="section-title" ng-show="filteredExtensions.length > 1"><span ng-click="goToExtensionsPage()">{{ 'apps_title_extensions' | i18n }}</span></h2>
        <ul class="extensions" ng-show="filteredExtensions.length > 1">
            <li class="extensions__item" ng-repeat="item in filteredExtensions=(extensions | filter:{type:'extension'}) | orderBy:'name'" ng-class="{'disabled' : !item.enabled}" ng-if="item.id != extensionId">
                <img class="extensions__icon" ng-src="{{item.icons ? item.icons[0].url : 'chrome://extension-icon/'}}" ng-srcset="{{item.icons ? item.icons[item.icons.length-1].url : 'chrome://extension-icon/'}} 2x" />
                <span ng-click="goToExtensionsPage(item.id)" class="extensions__title" title="{{item.description}}">{{item.name}}</span>
                <span class="delete" title="{{ 'apps_remove_tooltip' | i18n }}" ng-click="uninstall(item.id)"></span>
                <span class="tumbler">
                    <input type="checkbox" ng-model="item.enabled" ng-click="enable(item)" id="tumbler_{{ item.id }}">
                    <label for="tumbler_{{ item.id }}"></label>
                </span>
            </li>
        </ul>
        <div class="store">
            <a href="https://chrome.google.com/webstore/" target="_blank" class="store__btn">
                <span class="store__first-line">{{ 'store_text' | i18n }}</span>
                <span class="store__second-line">{{ 'store_title' | i18n }}</span>
            </a>
        </div>
    </div>
</div>
