.at-base .at-cloud:after{width:15px;height:15px;z-index:-1;transform:rotate(45deg);border:0!important;background-color:var(--color-external-links-back-cloud);border-radius:2px}.at-base .at-cloud{padding:0!important;background-color:var(--color-external-links-back-cloud)!important;box-shadow:0 20px 60px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.1);border-radius:4px;pointer-events:none!important;z-index:9999999999!important;visibility:visible!important;animation:fadeOut .2s ease-out forwards}.at-base .at-cloud.show{opacity:1!important;pointer-events:auto!important;animation:fadeIn .2s ease-out forwards}.at-base .at-cloud.place-top:after{bottom:-7px!important;left:50%!important;margin-left:-11px!important;box-shadow:0 20px 60px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.1)}.at-base .at-cloud.place-bottom:after{top:-7px!important;left:50%!important;margin-left:-11px!important;box-shadow:0 -20px 60px rgba(0,0,0,.15),0 -1px 2px rgba(0,0,0,.1)}.at-base .at-cloud.place-left:after{top:50%!important;right:-7px!important;margin-top:-11px!important;box-shadow:20px 0 60px rgba(0,0,0,.15),1px 0 2px rgba(0,0,0,.1)}.at-base .at-cloud.place-right:after{top:50%!important;left:-7px!important;margin-top:-11px!important;box-shadow:0 20px 60px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.1)}.at-base .at-cloud .at-tooltip-container__content{padding:8px 8px 4px;overflow:hidden;border-radius:4px;background-color:var(--color-external-links-back-cloud)}@keyframes fadeIn{0%{opacity:0}to{opacity:1;display:inline-block}}@keyframes fadeOut{0%{opacity:1}to{opacity:0;display:none}}._1mJpe {
  display: inline-flex;
  justify-content: space-between;

  font-size: 11px;

  width: 100%;
  margin-top: 3px;
  color: var(--color-grey-59);
}

.iYXld {
  display: inline-flex;
  align-items: flex-end;
}

.Afhjo {
  cursor: pointer;
  transition: color .2s ease;
}

.Afhjo:hover {
  color: var(--color-primary);
}

._2PUhS {
  display: flex;
  align-items: center;
}

._3nz6u {
  margin-left: 3px;
  margin-top: 1px;
}
.-kq7v {
  width: 11px;
  height: 11px;
  margin-right: 8px;
}

._1ztdz {
  display: flex;
  align-items: flex-start;

  width: 100%;
  margin-right: 8px;
}
.PQn7J {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: relative;

  height: 33px;

  font-size: 13px;
  font-weight: 600;
  padding: 7px 14px 8px;
  cursor: pointer;

  color: var(--color-external-links-tab-text);
  background-color: var(--color-primary-10);

  border: 1px solid transparent;

  transition: border-color .3s ease, background-color .3s ease;

  border-radius: 4px;
}

.PQn7J:hover {
  background-color: var(--color-accent-pale-hover);
}

.PQn7J.gffjA:hover  {
  background-color: var(--color-primary-10);
}

.PQn7J.gffjA {
  border-color: var(--color-external-links-tab-border);
  cursor: default;
}

.PQn7J::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -6px;
  border: 6px solid transparent;

  transition: all .3s ease;
}

.PQn7J::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -5px;
  border: 5px solid transparent;

  transition: all .3s ease;
}

.PQn7J.gffjA::before {
  border-top-color: var(--color-external-links-tab-arrow-border);
}

.PQn7J.gffjA::after {
  border-top-color: var(--color-external-links-tab-arrow-body);
}
._3IoP1 {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

._2gK6p {
  width: 100%;
  height: 75px;
  margin-top: 8px;
}

._3jHKt {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.5;
}
._2McTg {
  display: flex;
  align-items: flex-start;
  padding-right: 8px;
}

._32PVi {
  display: flex;
  width: 92px;
  height: 92px;
  cursor: pointer;
}

._8H4tG {
  width: 92px;
  height: 92px;
  position: relative;

  border-radius: 4px;
  border: 1px solid var(--color-grey-90);

  background-size: cover;
}

svg._3IOaX rect {
  stroke: var(--color-external-links-empty) !important;
}

svg._3IOaX path {
  fill: var(--color-external-links-empty) !important;
}

._33Pyy {
  width: 0;
  height: 0;
  display: none;
}

._9JocO {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  padding-top: 3px;
}

._1Bm--,
.veeKQ {
  font-size: 12px;
  color: var(--color-external-links-store);
}

.veeKQ {
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
}

.veeKQ:hover ._3soMG {
  color: var(--color-external-links-store--hover);
}

.veeKQ:hover ._3DNp- path {
  fill: var(--color-external-links-store--hover);
}

._2G60D {
  color: var(--color-external-links-store);
  font-weight: 600;
}

._2G60D._2XCqs {
  color: var(--color-bad);
}

._2G60D._2zp7u {
  color: var(--color-normal);
}

._2G60D._2ShN_ {
  color: var(--color-good);
}

._3CgMw {
  font-size: 13px;
  line-height: 18px;
  color: var(--color-base);
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0 5px;
  box-sizing: border-box;
  display: block;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  cursor: pointer;
}

._3bbF6 {
  display: flex;
  align-items: baseline;
}

._1u6Wa {
  display: flex;
  align-items: center;
}

._3D4it {
  display: inline-flex;
  align-items: center;
}

._3soMG {
  color: var(--color-external-links-store);
  max-width: 104px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 4px;

  transition: color .2s ease-in;
}

._3DNp- path {
  fill: var(--color-grey-78);
  transition: fill .2s ease-in;
}

._1_uEc {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-base);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._1LJHw {
  margin: 0 8px;
  align-self: center;
}

._1bvkh {
  margin-top: 1px;
  font-size: 12px;
  color: var(--color-grey-46-text);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
._1SVds {
  display: inline-flex;
  align-items: center;
}

._1ZBK- {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: var(--color-black);
}

.GOOAi {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-top: 0;
}
._3DaRo {
  display: flex;
  align-items: flex-start;
  padding-right: 8px;
}

._1kWWv {
  display: flex;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

._3H18P {
  width: 120px;
  height: 120px;
  position: relative;

  border-radius: 4px;
  border: 1px solid var(--color-grey-90);
  background-position-x: 50%;
  background-size: cover;
}

svg._30heW rect {
  stroke: var(--color-external-links-empty) !important;
}

svg._30heW path {
  fill: var(--color-external-links-empty) !important;
}

._3srUK {
  width: 0;
  height: 0;
  display: none;
}

._2BmlW {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  padding-top: 3px;
}

.cppNB {
  color: var(--color-external-links-store);
  font-weight: 600;
}

.cppNB.A52B0 {
  color: var(--color-bad);
}

.cppNB._28fiH {
  color: var(--color-normal);
}

.cppNB.Q_z4W {
  color: var(--color-good);
}

.Y42XA {
  font-size: 13px;
  line-height: 18px;
  color: var(--color-base);
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0 5px;
  box-sizing: border-box;
  display: block;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  cursor: pointer;
}

._2ZexF {
  display: flex;
  align-items: baseline;
  margin: 5px 0;
}

._11LF5 {
  display: inline-flex;
  align-items: center;
}

._1y2QO path {
  fill: var(--color-grey-78);
  transition: fill .2s ease-in;
}

._3NGH1 {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-base);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cRh3y {
  margin: 0 8px;
  align-self: center;
}

._2ASDF {
  margin-top: 1px;
  font-size: 12px;
  color: var(--color-grey-46-text);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._1JfmN {
  margin: 5px 0;
}

._3phqz {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.5;
}

._2907l {
  display: flex;
  align-items: center;
}

._1I0SV {
  align-items: start;
}

._1VoUG {
  align-items: center;
}

.D2NmS {
  color: var(--color-external-links-store);
  max-width: 104px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 4px;

  transition: color .2s ease-in;
  margin-left: 6px;
}

._1_FnA {
  font-size: 12px;
  color: var(--color-external-links-store);
}

._1_FnA {
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
}

._1_FnA path {
  fill: var(--color-grey-78);
}

._1_FnA:hover .D2NmS {
  color: var(--color-external-links-store--hover);
}

._1_FnA:hover ._3GBh5 path {
  fill: var(--color-external-links-store--hover);
}
._3ODNF {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 100%;
  min-height: calc(100% - 8px);
}

.HU3Pz {
  margin: 0 8px 0 0;
  padding: 0;

  height: auto;
  width: 100%;
}

.HU3Pz:nth-child(1) { animation: _6X-wE 1s infinite linear; }
.HU3Pz:nth-child(2) { animation: _3pUfQ 1s infinite linear; }
.HU3Pz:nth-child(3) { animation: _1W6bL 1s infinite linear; }
.HU3Pz:nth-child(4) { animation: _2CxUx 1s infinite linear; }
.HU3Pz:nth-child(5) { animation: _25X6K 1s infinite linear; }

@keyframes _25X6K {
  0%   { opacity: 1.00; }
  10%  { opacity: 0.80; }
  20%  { opacity: 0.60; }
  30%  { opacity: 0.40; }
  40%  { opacity: 0.20; }
  50%  { opacity: 0.20; }
  60%  { opacity: 0.30; }
  70%  { opacity: 0.40; }
  80%  { opacity: 0.60; }
  90%  { opacity: 0.80; }
  100% { opacity: 1.00; }
}

@keyframes _2CxUx {
  0%   { opacity: 0.80; }
  10%  { opacity: 0.60; }
  20%  { opacity: 0.40; }
  30%  { opacity: 0.20; }
  40%  { opacity: 0.20; }
  50%  { opacity: 0.40; }
  60%  { opacity: 0.60; }
  70%  { opacity: 0.80; }
  80%  { opacity: 1.00; }
  90%  { opacity: 1.00; }
  100% { opacity: 0.80; }
}

@keyframes _1W6bL {
  0%   { opacity: 0.60; }
  10%  { opacity: 0.40; }
  20%  { opacity: 0.20; }
  30%  { opacity: 0.20; }
  40%  { opacity: 0.40; }
  50%  { opacity: 0.60; }
  60%  { opacity: 0.80; }
  70%  { opacity: 1.00; }
  80%  { opacity: 1.00; }
  90%  { opacity: 0.80; }
  100% { opacity: 0.60; }
}

@keyframes _3pUfQ {
  0%   { opacity: 0.40; }
  10%  { opacity: 0.20; }
  20%  { opacity: 0.20; }
  30%  { opacity: 0.40; }
  40%  { opacity: 0.60; }
  50%  { opacity: 0.80; }
  60%  { opacity: 1.00; }
  70%  { opacity: 1.00; }
  80%  { opacity: 0.80; }
  90%  { opacity: 0.60; }
  100% { opacity: 0.40; }
}

@keyframes _6X-wE {
  0%   { opacity: 0.20; }
  10%  { opacity: 0.20; }
  20%  { opacity: 0.40; }
  30%  { opacity: 0.60; }
  40%  { opacity: 0.80; }
  50%  { opacity: 1.00; }
  60%  { opacity: 1.00; }
  70%  { opacity: 0.80; }
  80%  { opacity: 0.60; }
  90%  { opacity: 0.40; }
  100% { opacity: 0.30; }
}
._3oDrh {
  //opacity: 0.4;/* Grey 90 */
  border: 1px solid var(--color-grey-90);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
._3Bz8O {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}

._2t8kn {
  width: 40px;
  height: 42px;
  margin-right: 16px;
  margin-top: -8px;
  margin-left: -16px;
}

._1gM9U {
  color: var(--color-base);
  text-align: left;
  font-size: 13px;
  line-height: 18px;
}

._2dYAy {
  width: 100%;
  height: 75px;

  display: flex;
  align-items: center;
}
._3NV6a {
  width: 75px;
  height: 75px;
  position: relative;
  margin-right: 8px;
}

._3NV6a:last-child {
  margin: 0;
}

._1cUPx {
  width: 75px;
  height: 75px;
  border: 1px solid var(--color-grey-90);
  border-radius: 4px;

  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;

  background-size: cover;
}

._1KX5_ {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-primary);

  border: 1px solid var(--color-primary);
  border-radius: 4px;

  transition:all .2s ease-in;
  cursor: pointer;
}

._3NV6a:hover ._1KX5_ {
  opacity: 0.5;
}

._3NV6a:hover ._I3XP {
  opacity: 1;
}

._I3XP {
  top: 3.5px;
  opacity: 0;
  right: 4.5px;
  position: absolute;
  width: 8px;
  height: 8px;
  transition:all .2s ease-in;
}
._1Ed-V {
  margin-top: 8px;
  margin-bottom: 3px;
  padding-left: 108px;
}

._2SCVr {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.5;
}
._388Ss {
  margin-top: 16px;
}

.A35N- {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.5;
}

._24XNL {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 24px 27px;
}
.uA_Ys {
  margin-top: 12px;
}

._3C-Si {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--color-base);
  margin-top: 6px;
}

._1QkPG {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.5;
}

._1l0Rg {
  margin: 0 8px;
}

._3Jh5H {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 0 8px 0;
}
._2O6Nf {
  margin-top: 12px;
}

._3bEzc {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--color-base);
  margin-top: 6px;
}

.eB3W3 {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.5;
}

._3Cl2x {
  margin: 0 8px;
}

._2Dyl0 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 0 8px 0;
}
._3c_-y {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 2147483647;
  margin: 16px;
  top: 0;
  right: 0;
}

._24Uhu {
  display: none;
}

._10_dh {
  position: relative;
}
._2nUnX {
  width: 372px;

  background: #fff;
  border-radius: 4px;

  margin-bottom: 16px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);

  transition: right .5s ease;

  cursor: pointer;
}

._3a3RR {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 9px 11px 18px 16px;
}

._3RhW- {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

._2Zi-u {
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 18px;

  font-weight: 600;

  color: #757575;
}

._2Zi-u ._2HdiN {
    width: 8px;
    height: 12px;
  }

._2Zi-u .T_3GY {
    color: #4ebea9;
    margin-right: 3px;
  }

.Grn8z {
  width: 12px;
  height: 12px;

  cursor: pointer;
}

.Grn8z path {
  transition: fill .3s ease;
}

.Grn8z:hover path {
  fill: #757575;
}

._2dMIG {
  display: flex;
  margin-top: 12px;
  width: 100%;
}

._2dMIG .inPPZ {
    width: 64px;
    height: 64px;

    min-width: 64px;
    max-width: 64px;
    max-height: 64px;
    min-height: 64px;

    position: relative;

    border-radius: 2px;
    background-size: cover;
  }

._2dMIG ._1yyqw {
    display: flex;
    flex-direction: column;

    margin-left: 16px;
    width: 252px;
  }

._2dMIG ._1yyqw ._1ONI5 {
      font-size: 16px;
      line-height: 22px;

      color: #333333;
      font-weight: bold;

      width: 100%;
    }

._2dMIG ._1yyqw ._25vob {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;

      margin: 4px 0 5px 0;

      width: 100%;

      color: #333333;
    }

.w_VSb {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 41px;
  background-color: rgba(78, 190, 169, 0.1);
  border-radius: 0 0 4px 4px;
  border: none;
  border-top: rgba(78, 190, 169, 0.2) solid 1px;

  color: #4ebea9;
  font-weight: 600;

  cursor: pointer;

  font-size: 13px;
  line-height: 18px;

  transition: background-color .3s ease, color .3s ease;

  position: relative;
}

.w_VSb:hover {
  background-color: #4ebea9;
  color: #fff;
}

.w_VSb:hover path {
  fill: #fff;
}

._2DwyS {
  width: 8px;
  height: 8px;

  opacity: 0.5;

  position: absolute;

  top: 7px;
  right: 6px;

  transition: fill .3s ease;
}

._2nUnX:hover .w_VSb {
  background-color: #4ebea9;
  color: #fff;
}

._2nUnX:hover .w_VSb path {
  fill: #fff;
}

._2fjsZ {
  background-color: rgba(78, 190, 169, 0.1) !important;
  color: #4ebea9 !important;
}

._2fjsZ path {
  fill: #4ebea9 !important;
}

._3G0rp {
  transform: translateX(400px);
  display: block !important;
}

._3Jdzl {
  transform: translateX(0px);
  transition: transform .5s cubic-bezier(0.42, 0, 0.58, 1);
  display: block !important;
}

._23F2_ {
  transform: translateX(0px);
  display: block !important;
}

._1-z1U {
  transform: translateX(0px);
  display: block !important;
}

._22o-s {
  transform: translateX(400px);
  transition: transform .5s cubic-bezier(0.42, 0, 0.58, 1);
  display: block !important;
}

._1ORN7 {
  transform: translateX(400px);
}
._2xff8 {
  position: absolute;
}

.aQJ6J {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 400px;
  height: 400px;

  border-radius: 4px;
  background-color: var(--color-white);

  box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.1);
}
.aQJ6J._1iIzt { display: flex; }

.FW-TU {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 12px 16px 12px 12px;

  width: 100%;
  height: auto;
}

._2ecjP {
  display: flex;
  align-items: center;

  margin-top: 4px;
  margin-bottom: 6px;
}

._2UzVu {
  font-size: 20px;
  line-height: 27px;
  color: var(--color-base);
  margin-left: 12px;
  min-width: 130px;
}

._2KpMA {
  margin-left: -3px;
  margin-top: 3px;
  max-width: 150px;
}

._1uWcT {
  display: flex;
  margin-top: 5px;
  margin-right: 3px;
}

.fK-0t {
  padding: 5px 12px;
  margin-right: 5px;

  cursor: pointer;

  will-change: opacity;

  border-radius: 15px;
  display: flex;
}

.fK-0t svg {
    fill: var(--color-grey-59);
    transition: fill var(--transition-hover-default);
  }

.fK-0t:hover svg {
    fill: var(--color-black);
  }

.fK-0t._3iLkW {
  background: var(--color-primary-10);
}

.fK-0t._3iLkW svg {
    fill: var(--color-accent);
  }

.EkhZQ {
  padding: 5px;
  cursor: pointer;

  transition: opacity var(--transition-hover-default);
  will-change: opacity;
}

.EkhZQ svg {
    fill: var(--color-grey-59);
    transition: fill var(--transition-hover-default);
  }

.EkhZQ:hover svg {
    fill: var(--color-black);
  }

.Jntdb {
  width: 100%;
  max-height: calc(100% - 47px);
  overflow: hidden;
}

.qZQMq {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 0 17px;
}

._33qL7 {
  margin: 0;
  padding: 0 5px 16px;

  width: 33%;
  height: auto;
}

._1b3CD {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 112px;
  height: 163px;
  overflow: hidden;

  background-color: var(--color-white);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  border: 1px solid var(--color-grey-90);
  border-radius: 4px;

  transition: border var(--transition-hover-default);
  will-change: border;
  text-decoration: none;
}
._1b3CD:hover {
  text-decoration: none !important;
  border: 1px solid var(--color-primary);
}

._1NabE {
  width: auto;
  height: 110px;
  max-height: 110px;
  min-width: 110px;
  display: flex;
  align-self: center;

  pointer-events: none;
}
._2RVrb {
  position: absolute;
  z-index: 10;

  height: 110px;
  width: 110px;
}

.LxBfK {
  margin: 7px 10px 0;

  font-family: var(--font-family-default);
  font-size: 12px;
  font-weight: 600;

  color: var(--color-black);
}

._2jsDC {
  margin: -1px 10px 0px;

  font-family: var(--font-family-default);
  font-size: 12px;
  font-weight: 400;

  color: var(--color-grey-46);
}

._19l1- {
  margin-top: 46px;

  transition: margin-top var(--transition-hover-default);
  will-change: margin-top;
}

._3wF_s {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 2147483647;
}

._24RkE {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 46px;

  padding:0px 13px 0px 16px;

  border-bottom: 1px solid var(--color-grey-90);
  background-color: var(--color-back);

  cursor: pointer;
  text-decoration: none;
}
._24RkE:hover,
._24RkE:visited {
  text-decoration: none !important;
  border-bottom: 1px solid var(--color-grey-90) !important;
  background-color: var(--color-advice-stripe--hover);
}
._24RkE:active { background-color: var(--color-back) !important; }

._1pRJM {
  width: 78px;
  height: 16px;
}

._38Jkt {
  position: absolute;
  top: 0; left: 50%;

  transform: translateX(-50%);

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 46px;
}

.KPvoY {
  margin-right: 16px;

  font-family: var(--font-family-default);
  font-size: 13px;

  color: var(--color-black);
}

@media (max-width: 1024px) {
  .KPvoY { display: none; }
}

._1Jcow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: auto;
  min-height: 30px;
  height: 30px;
  max-height: 30px;

  border: 1px solid var(--color-green);
  border-radius: 4px;
  background-color: var(--color-modal-back);

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  user-select: none;

  transition: border var(--transition-hover-default);
  will-change: border;
}
._1Jcow:hover, button._23xjv { border: 1px solid #44a64f; }

.lxfnp {
  position: relative;

  margin: 0;
  padding: 5px 16px 5px 16px;

  font-family: var(--font-family-default);
  font-size: 13px;

  color: var(--color-always-white);
  background-color: var(--color-green);
  border-radius: 2px 0 0 2px;

  transition: background-color var(--transition-hover-default);
  will-change: background-color;
}
._1Jcow:hover .lxfnp, ._1Jcow._23xjv .lxfnp { background-color: #44a64f; }

.lxfnp:after {
  content: '';

  position: absolute;
  top: 5px; right: -8px;

  width: 18px;
  height: 18px;
  transform: rotate(45deg) skew(10deg, 10deg);

  background-color: var(--color-green);

  transition: background-color var(--transition-hover-default);
  will-change: background-color;
}
._1Jcow:hover .lxfnp:after, ._1Jcow._23xjv .lxfnp:after { background-color: #44a64f; }

._3Ai0O {
  margin: 0;
  padding: 5px 16px 5px 24px;

  font-family: var(--font-family-default);
  font-size: 13px;
  font-weight: 600;

  color: var(--color-black);
}

.Fy6HJ {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-left: auto;
}

._2sfHh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-right: 8px;
  padding: 0 16px;

  width: auto;
  min-height: 30px;
  height: 30px;
  max-height: 30px;
  line-height: 30px;

  border: 1px solid var(--color-grey-78);
  border-radius: 4px;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--color-modal-back);

  cursor: pointer;
  user-select: none;

  transition: border var(--transition-hover-default);
  will-change: border;
}

._2_zd0 {
  font-family: var(--font-family-default);
  font-size: 13px;

  color: var(--color-black);
}

._1TFNC { margin-left: 8px; }
._1TFNC._2QXF4 { transform: rotate(180deg) }

._2sfHh:hover, ._2sfHh._23xjv { border: 1px solid var(--color-primary); }

._3xILN {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  cursor: pointer;
}

._2ZiN4 {
  margin-left: 2px;
}

._2kQ2i {
  margin-left: 6px;
}
._3b9UO {
  fill: var(--color-black);

  opacity: .25;

  transition: opacity var(--transition-hover-default);
  will-change: opacity;
}

._3xILN:hover ._3b9UO, ._3xILN._23xjv ._3b9UO { opacity: 1; }

._3RP6Z {
  position: fixed;
  top: 46px; left: 0; right: 0; bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: rgba(0, 0, 0, 0.85);

  z-index: 2147483646;
}

._2ulW7 { margin: 32px 0 0; }

._3Vc7X {
  margin: 24px 0 0;

  width: auto;
  height: 80px;
}

._3Gdds {
  margin: 32px 0 0;

  text-align: center;
  font-family: var(--font-family-default);
  font-size: 24px;
  line-height: 32px;

  color: var(--color-always-white);
}

._2RSUP {
  margin: 16px 0 0;

  text-align: center;
  font-family: var(--font-family-default);
  font-size: 16px;
  line-height: 21px;

  color: var(--color-grey-78);
}

.F3TkG {
  margin: 18px 0 0;

  text-align: center;
  font-family: var(--font-family-default);
  font-size: 14px;

  color: var(--color-grey-46);
}

._3vo12,
._3vo12:hover,
._3vo12:visited {
  font-family: var(--font-family-default) !important;
  font-size: 14px !important;

  color: var(--color-grey-46) !important;

  text-decoration: underline !important;
}

._1uBsJ { margin: 31px 0 0; }


@media (max-width: 950px) {
  ._24RkE {
    display: flex;
    justify-content: space-between;
  }

  ._38Jkt {
    position: relative;
    left: auto;
    transform: none;
    display: flex;
  }

  .Fy6HJ {
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  ._1pRJM {
    display: none;
  }

  ._2sfHh {
    display: none;
  }

  ._38Jkt {
    transform: translateX(50%);
  }
}
.at-bulb-button{align-items:baseline;justify-content:center;display:flex;padding:5px 10px;border-radius:4px;fill:var(--color-warm);text-align:center;transition:background-color .3s ease;min-width:46px;min-height:48px;position:relative}.at-bulb-button__logotype{position:absolute;top:50%;left:50%;margin:-22px -14px;transform:rotateY(0deg);fill:var(--color-base);opacity:1;transition:all .2s ease;transition-delay:.2s;margin-top:-20px}.at-bulb-button:hover{fill:var(--color-base)}.c3MF3 {
  position: relative;
}

._1lJcn {
  display: block;
  position: relative;

  border: 1px solid var(--color-grey-90);
  box-sizing: border-box;
  border-radius: 4px;

  margin-left: 4px;

  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 48px;

  cursor: pointer;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  transition: border .25s cubic-bezier(0.42, 0, 0.58, 1);

  overflow: hidden;
}

._1lJcn:hover {
    border: 1px solid var(--color-accent);
  }

._1lJcn:hover ._3aFV2 {
      opacity: 1;
    }

._1pz5- {
  width: auto;
  height: 48px;
  max-height: 48px;
  min-width: 48px;
  display: flex;
  align-self: center;
  pointer-events: none;
}

._3aFV2 {
  width: 46px;
  height: 46px;

  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;

  background: var(--color-primary-30);
  opacity: 0;

  transition: opacity .25s cubic-bezier(0.42, 0, 0.58, 1);
}

._32Wbf {
  position: absolute;
  top: -2px;
  right: 4px;
}

._32Wbf path {
    fill: var(--color-always-white);
  }
.pxYsZ {
  border: 1px solid var(--color-grey-90);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 5px 12px 0px;
  margin-left: 10px;
  text-align: center;

  height: 48px;
  max-height: 48px;
  min-width: max-content;

  cursor: pointer;

  transition:
    background .25s cubic-bezier(0.42, 0, 0.58, 1),
    border .25s cubic-bezier(0.42, 0, 0.58, 1);
}

  .pxYsZ:hover {
    background: var(--color-primary-10);
    border: 1px solid var(--color-primary-20);
  }

._2M2BS {
  font-size: 14px;
  line-height: 19px;
  color: var(--color-base);
  white-space: nowrap;
}

._2LKPK {
  font-weight: 600;
}

.wwKV1 {
  font-size: 11px;
  line-height: 15px;
  color: var(--color-grey-46);
}
._1cIE5 {
  transform: rotateY(0deg);
  margin-left: 2px;
  margin-right: -2px;

  padding-top: 5px;
  transition: transform .25s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
}
  ._1cIE5 path {
    transition: stroke .2s ease;
  }

._1cIE5._2p4i9 {
  transform: rotateY(180deg);
  margin-left: 7px;
  margin-right: -7px;
}

._1cIE5:hover path {
     stroke: var(--color-base);
  }
._2mmDW {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, .75);
}

._1St4U {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

._1St4U ._29Pkd {
    width: 571px;
    height: 375px;

    z-index: 4;

    padding: 16px;
    background: #4C8BF5;
    opacity: 0.95;
    border-radius: 6px;

    position: absolute;

    overflow: hidden;

    transition: right .5s ease;
  }

._1St4U ._29Pkd._1btCo {
    padding: 24px 32px;
    border-radius: 4px;
    opacity: 1;
  }

._1St4U ._29Pkd._1e_IW {
    border-radius: 8px;
    padding: 0;

    background: var(--color-always-white);
    color: var(--color-always-black);

    opacity: 1;
  }

._1St4U ._2gMax {
    display: flex;
    flex-direction: column;

    position: relative;
    max-width: 385px;

    margin-top: 71px;
    margin-left: 108px;
    color: #fff;
    z-index: 0;
  }

._1St4U ._2gMax._1btCo {
    margin: 0;
    max-width: 100%;
  }

._1St4U ._2gMax._1e_IW {
    margin: 0;
    max-width: 100%;
    color: #000000;
  }

._1St4U ._26mJL {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 4px;
    z-index: 1;
  }

._1St4U ._26mJL svg {
      fill: #ffffff;
      transition: all .2s;
    }

._1St4U ._26mJL:hover svg {
      fill: rgba(0, 0, 0, .5);
    }

._1St4U ._26mJL._1e_IW {
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0;
  }

._1St4U ._26mJL._1e_IW svg {
      width: 12px !important;
      height: 12px !important;
    }

._1St4U ._26mJL._1e_IW path {
    fill: var(--color-grey-59);
    transition: all .2s;
  }

._1St4U ._26mJL._1e_IW:hover path {
    fill: var(--color-always-black);
  }

._1St4U._3nh7t {
  left: 41px
}

._1bTZE {
  opacity: 0.01;
}

._1aq2J {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

._1bFZv {
  opacity: 1;
}

._159jr {
  opacity: 1;
}

._2n0yL {
  opacity: 0.01;
  transition: opacity .3s ease-in-out;
}

.vSX-Q {
  opacity: 0;
}

._1NQNL {
  transform: translateY(30px);
}

._3lMz3 {
  transform: translateY(0px);
  transition: transform .3s cubic-bezier(0.42, 0, 0.58, 1);
}

._3RRlA {
  transform: translateY(0px);
}

._1h10Q {
  transform: translateY(0px);
}

._6RPog {
  transform: translateY(30px);
  transition: transform .3s cubic-bezier(0.42, 0, 0.58, 1);
}

._2MrEr {
  transform: translateY(30px);
}
._3gSF- {
  position: fixed;
  left: 16px;
  bottom: 16px;
  border-radius: 4px;
  opacity: 0;
  z-index: 2147483647;
  display: none;
}

._3gSF-._3UI5- {
  z-index: 100;
}

._2MN3t {
  opacity: 1;
  display: block;
}

._1ASJW {
  position: absolute;
  bottom: 0;
  z-index: 10;

  display: flex;
  align-items: center;

  height: 64px;

  background: var(--color-back);
  box-shadow:
    0px 20px 60px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  padding: 0px 8px;

  white-space: nowrap;

}

._29wa0 {
  display: flex;
  max-width: 156px;
  overflow: visible;
  transition:
    max-width .25s cubic-bezier(0.42, 0, 0.58, 1),
    overflow .25s;
}
._29wa0._1DIWt {
  max-width: 0px;
  overflow: hidden;
}

._1tcAP {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--color-always-white);
  margin-left: 5px;
  margin-top: -3px;
  min-width: 350px;
}

._35iy3 {
  position: absolute;
  left: -56px;
  top: -84px;
}

._2AtTW {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 10px;
}

._1wYtM {
  font-size: 16px;
  line-height: 22px;
}

._1-8ex {
  position: relative;
}

@keyframes _2-df- {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
