/*
  Keep the iframe and container locked to the same width without relative
    sizing. This prevents browser variance from effecting the extension.
  Without this, a Firefox user on WebExtensions will only see a thin
    bar instead of the extension panel. It renders the panel useless.
*/

html, body, iframe {
    height: 600px;
    width: 320px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    display: block;
}

body {
    background-color: #F6F6F6;
}

/*
    Removed absolute positioning
    until pre-load header available.
*/
div#spinnerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    z-index: 999999;
}
