<ng-controller ng-controller="SearchNotificationController">
    <div class="popup__header">
        <img width="253" height="98" srcset="/images/promo-search-bg@2x.png 2x" />
    </div>
    <div class="popup__body">
        <h1 class="popup__title"><strong>CryptoSearch</strong> - quick and easy solution for web search</h1>
        <p>Set your default search to CryptoSearch and get quick access to web search results right from the address bar.</p>
        <div class="popup__btns">
            <button class="link-btn link-btn_primary" ng-click="addExtension();">Add to Chrome</button>
        </div>
    </div>
</ng-controller>
